{% unless site.atom_feed.hide %}
  {% assign show_atom = true %}
{% endunless %}
{% if site.footer.links or show_atom %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label | escape_once | strip }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>
{% endif %}

<div class="page__footer-copyright">&copy; {% assign site_time = site.time | date: '%Y' %}{% if site.footer.since and site_time != site.footer.since %}{{ site.footer.since }} - {% endif %}{{ site_time }} <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title | escape_once | strip }}</a></div>

<!--Cookie consent modal dialog-->

<div id="cookie-consent" class="modal">
  <div class="modal-content">
    <p style="font-size: 18px; font-weight: bold;">Datenschutzeinstellungen</p>
    <p style="font-size: 14px">Wir verwenden Cookies und ähnliche Technologien, um unsere Website bereitzustellen, zu analysieren und zu verbessern. Dabei können personenbezogene Daten (z. B. IP-Adresse) verarbeitet werden.<br><br>
Sie können selbst entscheiden, ob Sie der Nutzung zustimmen oder diese ablehnen. Notwendige Cookies werden unabhängig davon gesetzt, da sie für den Betrieb der Website erforderlich sind.</p>
    <div class="modal-buttons">
      <button id="accept-cookies">Akzeptieren</button>
      <button id="decline-cookies">Ablehnen</button>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const consentBanner = document.getElementById('cookie-consent');
  const acceptBtn = document.getElementById('accept-cookies');
  const declineBtn = document.getElementById('decline-cookies');
  const consent = localStorage.getItem('cookie-consent');

  // Show banner if no consent yet
  if (!consent) {
    consentBanner.style.display = 'flex';
  } else {
    consentBanner.style.display = 'none';
  }

  acceptBtn.addEventListener('click', function() {
    localStorage.setItem('cookie-consent','accepted');
    consentBanner.style.display = 'none';
    document.body.style.overflow = '';
    location.reload(); // reload to load GA
  });

  declineBtn.addEventListener('click', function() {
    localStorage.setItem('cookie-consent','declined');
    consentBanner.style.display = 'none';
    document.body.style.overflow = '';
  });
});
</script>

<!--Cookie consent icon bottom left corner-->

<button id="cookie-settings"
        aria-label="Cookie settings"
        title="Cookie settings">
  <img src="../assets/images/gear-24.svg" alt="icon" style="width: 100%; height: auto; fill: white;">
</button>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const settingsBtn = document.getElementById('cookie-settings');
  const modal = document.getElementById('cookie-consent');

  if (!settingsBtn || !modal) return;

  settingsBtn.addEventListener('click', function () {
    modal.style.display = 'flex';
    document.body.style.overflow = 'hidden';
  });
});
</script>