---
---

@import "minimal-mistakes/skins/dirt"; // Or your selected skin
@import "minimal-mistakes"; // Imports the main theme styles

// Your overrides go here

#main p {
  font-size: 16px;
}

form {
  font-size: 16px;    
}

input, textarea {
  background-color: white;
}

h1.page__title {
  display: none;
}

/* Hide heading anchor links */
.header-link {
  display: none;
}