---
---

@import "minimal-mistakes/skins/dirt"; // Or your selected skin
@import "minimal-mistakes"; // Imports the main theme styles

// Your overrides go here

#main p {
  font-size: 16px;
}

form {
  font-size: 16px;    
}

input, textarea {
  background-color: white;
}

h1.page__title {
  display: none;
}

/* Hide heading anchor links */
.header-link {
  display: none;
}

/* Cookie modal dialog */

#cookie-consent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;    /* keeps it from growing too large on desktop */
  width: 90%;          /* 90% of parent / viewport width */
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  font-size: 16px;
  color: #333;
  box-sizing: border-box; /* ensures padding is included in width */
}

.cookie-option {
  margin-top: 10px;
}

.cookie-option p {
  font-size: 16px;
  margin-top: 0.3em;
  color: #555;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
    }

.modal-footer button {
  background: #333;
  color: #fff;
  border: 2px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#accept-cookies {
  background-color: #343434;
  color: #ffffff;
  border-color: #343434;
  padding: 8px 14px;
  margin-right: 8px;
}

#decline-cookies {
  background-color: #ffffff;
  color: #343434;
  border-color: #343434;
  padding: 8px 14px;
  margin-right: 8px;
}

/* Floating cookie settings button in bottom left corner*/

#cookie-settings {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 100001;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#cookie-settings:hover {
  background: #555;
}

/* hide sidebar*/

#main {
    display: flex;
    justify-content: center; /* centers children horizontally */
}

.page {
    float: none; /* remove float if previously set */
}